*{
    margin: 0;
   padding: 0;

}

/* add font-family */

    .merriweather {
        font-family: "Merriweather", serif;
        font-weight: 600;
        font-style: normal;
      }

      body {
          font-family: "Inter", serif;
          font-optical-sizing: auto;
          font-weight: weight;
          font-style: normal;
      }
      
      /* header style */

      header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/Banner\ Image.png);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
       
      }

      .banner{
        height: 100vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }

      .welcome {
        font-size: 32px;
        text-align: center;
      }
      .party {
        text-align: center;
        font-size: 72px;
        font-weight: 700;
      }

     /* discount section style */

     .discount-container {
      padding-left: 200px;
      padding-right: 200px;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
     }

     .discount{
      font-size: 88px;
      font-weight: 700;
      color: #FF0000;
     }

     .discount-des{
      font-size: 24px;
      color: #FF0000;
      margin-top: 48px;
     }

     .dis-content {
      font-size: 48px;
      color: #070211;
      font-weight: 500;
     }

     .dis-pic{
      margin-top: 20px;
     }

     /* party section style */

     .party-section {
      background-image: linear-gradient(to right,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../image/Vectorrr.png);
      height: 100vh;
      margin-top: 100px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
     }

     .party-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
     }

     .new-year-logo{
      margin-right: 100px;
      height: 450px;
     }

     .party-content{
      height: 100vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left: 100px;
        row-gap: 30px;
     }

     .party-heading {
      font-size: 64px;
      font-weight: 700;
     }

     .party-des{
      font-size: 18px;
     }

     .party-btn {
      font-size: 20px;
      font-weight: 600;
     }

     /* address related style */

     .address {
      height: 480px;
      margin-top: 100px;
      background-image: linear-gradient(rgb(251, 214, 214),white);
      margin-left: 100px;
      margin-right: 100px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
     }

     .add-details {
      font-size: 32px;
      font-weight: 600;
     }

     .add-colour {
      color: #FF0000;
     }

     .add-btn {
      margin-top: 25px;
      height: 45px;
      width: 160px;
      background-color: #FF0000;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      padding-top: 20px;
      border-radius: 10px;
      color: white;
     }

     /* offer section style */

     .offer-container{
      display: flex;
      margin-top: 100px;
      margin-left: 100px;
      margin-right: 100px;
      gap: 50px;
     }

     .offer-semi-c1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      width: 650px;
     }

     .offer-greating{
      color: #FF0000;
      font-size: 24px;
      font-weight: 600;
     }

     .coming-s{
      font-size: 48px;
      color: #070211;
     }

     .offer-des{
      font-size: 20px;
      color: #070211;
     }

     .offer-semi-c3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
     }
     .year {
      font-size: 48px;
      font-weight: 600;
      color: #FF0000;
     }

     .happy-new-year{
      width: 140px;
     }

     /* set party image */

     .offer-semi-c2{
      background-image: url(../image/Ellipse\ 1.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 550px;
      border-radius: 50%;
      border: #FF0000 solid 10px;
      padding: 10px 10px 10px 10px;
     }

    

     
